#terraform.tfplan
#terraform.tfstate
terraform.tfvars
*.tfstate
*.backup
.terraform/

bin/
modules-dev/
/pkg/
website/.vagrant
website/.bundle
website/build
website/node_modules
website/vendor

.vagrant/
*.log
*.bak
*~
.*.swp
.idea
*.iml
*.test
*.iml
*.dll
*.exe
.DS_Store

